@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 20 20 20;
    --primary: 37 99 235;
    --primary-foreground: 255 255 255;
    --secondary: 100 116 139;
    --secondary-foreground: 255 255 255;
    --accent: 239 68 68;
    --accent-foreground: 255 255 255;
    --muted: 241 245 249;
    --muted-foreground: 100 116 139;
    --border: 226 232 240;
    --ring: 37 99 235;
  }

  body {
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
